RCversion: 4
include: "timeSync.rch"

///// tTimeSynccustomPlugin Class Definition /////

          class: tTimeSyncPlugin
    genericType: tTimeSyncGenType
        version: 0
  hasActiveProp: no
         sorted: no
      className: "NI-TimeSync Plugins"
          flags: 8

attribute: Status
	"CUSTOM:Plugin Status"
	iL	enum	{Good=0, "Unknown Error"=1, "Invalid Server Address"=257, "Invalid Server Port"=258, "Server Not Responding"=259}	readonly	1	30001
	"An integer enumeration that specifies the status of this plugin."
	ts_custom.*	ts_custom_getProperty	ts_custom_setProperty	@NoReset

attribute: Synchronized
	"CUSTOM:Timekeeper Synchronized"
	bool	readonly	1	30002
	"A boolean that specifies whether the calculated offset from the time reference is within the specified synchronization threshold."
	ts_custom.*	ts_custom_getProperty	ts_custom_setProperty	@NoReset

attribute: "Synchronization Disrupted"
	"CUSTOM:Timekeeper Synchronization Disrupted"
	bool	readonly	1	30003
	"A boolean that specifies whether the synchronization of the timekeeper has been disrupted since this property was last read."
	ts_custom.*	ts_custom_getProperty	ts_custom_setProperty	@NoReset

attribute: "Synchronization Threshold"
  "CUSTOM:Timekeeper Synchronization Threshold"
  fD readonly 1 30004
  // NI_TIMESYNC_D64_ATTR_TIMEKEEPER_SYNCHRONIZATION_THRESHOLD 0x30004
  "A double that specifies the calculated offset, in seconds, within which the timekeeper is considered synchronized."
  ts_custom.* ts_custom_getProperty ts_custom_setProperty

attribute: "Offset"
  "CUSTOM:Offset from Time Reference"
  fD readonly 1 30006
  // NI_TIMESYNC_D64_ATTR_OFFSET_FROM_TIME_REFERENCE 0x30006
  "A double that specifies the last measured offset, in seconds, from the associated time reference."
  ts_custom.* ts_custom_getProperty ts_custom_setProperty

attribute: "Correction"
  "CUSTOM:Time Reference Correction"
  fD readonly 1 30007
  //const: NI_TIMESYNC_D64_ATTR_TIME_REFERENCE_CORRECTION 0x30007
  "A double that specifies a manual correction, in seconds, to apply to the measured offset. Use this property to calibrate the time reference manually in order to achieve better synchronization."
  ts_custom.* ts_custom_getProperty ts_custom_setProperty

attribute: "Time Reference Valid"
  "CUSTOM:Time Reference Is Valid"
  bool readwrite 1 30008
  // NI_TIMESYNC_custom_BOOL_TIME_REFERENCE_IS_VALID 0x30008
  "A bolean that is used to communicate to the plugin the availability of a time reference. With no valid time reference the plugin will be stopped and any other lower priority plugins may begin to run."
  ts_custom.* ts_custom_getProperty ts_custom_setProperty
