Package: ni-synchronization-veristand-{veristand_version}-support
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description: Provides support for the NI Synchronization Custom Device for NI VeriStand {veristand_version}.
  The NI Synchronization Custom Device synchronizes RT system time and PXI chassis clocks. This is accomplished by either reading the PXI chassis clock and setting system time, or by overwriting both system time and the PXI chassis clock when using an external time reference such as the free running clock of a Time-Based Synchronization module, 1588, GPS, PPS, or IRIG-B. This functionality is commonly used for data sampling synchronization and offline data correlation analysis.
XB-Eula: eula-ni-standard
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {quarterly_display_version}
XB-DisplayName: NI Synchronization Custom Device for VeriStand {veristand_version}
Depends: ni-veristand-{labview_version} (>= {labview_short_version}.0.0)
Description-zh-CN: 为NI VeriStand {veristand_version}提供NI Synchronization自定义设备支持。NI Synchronization自定义设备同步RT系统和PXI机箱的时间。可通过下列方法实现同步：读取PXI机箱时钟并设置系统时间，或使用外部时间参考覆盖系统时间和PXI机箱时钟。外部时间参考可以是时基同步模块、1588、GPS、PPS,、IRIG-B。该功能常用于数据采样同步和离线数据关联分析
XB-DisplayName-zh-CN: NI Synchronization Custom Device for VeriStand {veristand_version}
Description-de: Stellt Unterstützung für NI Synchronization Custom Device für NI VeriStand {veristand_version} bereit. Benutzerdefinierte Synchronisationsgeräte von NI synchronisieren die RT-Systemzeit und die Taktgeber des PXI-Chassis. Dies kann entweder durch Abfragen des PXI-Chassis-Takts und Einstellen der Systemzeit oder durch Überschreiben der Systemzeit und des PXI-Chassis-Takts erfolgen, wenn eine externe Zeitreferenz wie der frei laufende Takt eines zeitbasierten Synchronisationsmoduls, 1588, GPS, PPS, oder IRIG-B verwendet wird. Diese Funktion wird häufig für die Synchronisation von Datenabtastungen und für Offline-Datenkorrelationsanalysen verwendet
XB-DisplayName-de: NI Synchronization Custom Device für VeriStand {veristand_version}
Description-fr: Fournit le support pour le périphérique personnalisé NI Synchronization pour NI VeriStand {veristand_version}. Le périphérique personnalisé NI Synchronization synchronise l&apos;heure du système RT et les horloges des châssis PXI. Ceci s&apos;effectue soit en lisant l&apos;horloge du châssis PXI et en définissant l&apos;heure du système, soit en écrasant à la fois l&apos;heure du système et l&apos;horloge du châssis PXI à l&apos;aide d&apos;une référence temporelle externe telle que l&apos;horloge fonctionnant librement d&apos;un module de synchronisation basée sur le temps, 1588, GPS, PPS, ou IRIG-B. Cette fonctionnalité est couramment utilisée pour la synchronisation de l&apos;échantillonnage des données et l&apos;analyse de corrélation des données hors ligne.
XB-DisplayName-fr: NI Synchronization Custom Device for VeriStand {veristand_version}
Description-ja: NI VeriStand {veristand_version}用のNI 同期カスタムデバイスのサポートを提供します。NI 同期カスタムデバイスは、RTシステム時間とPXIシャーシクロックを同期させます。同期させるには、PXIシャーシクロックを読み取ってシステム時間を設定します。時間ベース同期モジュール1588、GPS、PPS、またはIRIG-Bの自走クロックなどの外部基準クロックを使用している場合は、システム時間とPXIシャーシクロックの両方を上書きします。この機能は通常、データサンプリングの同期およびオフラインデータの相関解析に使用されます。
XB-DisplayName-ja: NI 同期カスタムデバイス - VeriStand {veristand_version}用
Description-ko: NI VeriStand {veristand_version}을(를) 위한 NI Synchronization Custom Device의 지원을 제공합니다. NI Synchronization Custom Device는 RT 시스템 시간과 PXI 섀시 클럭을 동기화합니다. 이는 PXI 섀시 클럭을 읽고 시스템 시간을 설정하거나, 시간 기반 동기화 모듈, 1588, GPS, PPS, IRIG-B의 독립 실행 클럭과 같은 외부 시간 참조를 사용할 때 시스템 시간과 PXI 섀시 클럭을 모두 덮어써서 수행됩니다. 이 기능은 일반적으로 데이터 샘플링 동기화 및 오프라인 데이터 상관 분석에 사용됩니다.
XB-DisplayName-ko: NI Synchronization Custom Device - VeriStand {veristand_version} 지원
